body {
	font-family: 'Nunito', 'Helvetica Neue', sans-serif;
	padding: 0.1px; /* prevent margin overflow */
	margin: 0;
}

.title {
	font-size: 2rem;
}
@media (max-width: 480px) {
	.title {
		font-size: 1.66rem;
	}
}

.wrapper {
	margin: 36px auto 0;
}
@media (max-width: 480px) {
	.wrapper {
		margin: 20px auto 0;
		width: 240px;
	}
}

.keyboard-friendly {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 12px;
	background: rgba(255,255,255,0.75);
}
@media not ((hover: hover) and (pointer: fine)) {
	.keyboard-friendly {
		display: none;
	}
}

.keyboard-friendly-img {
	width: 70px;
	display: block;
}

.center {
	text-align: center;
}

.top-text {
	margin-bottom: 2rem;
	font-size: 1rem;
}
@media (max-width: 480px) {
	.top-text {
		font-size: 0.66rem;
	}
}

.current-player-wrapper {
	color: black;
	margin: 0 0 0.75rem;
	font-weight: normal;
}
.current-player-wrapper .red,
.current-player-wrapper .black {
	position: relative;
}
.current-player-wrapper .red::after,
.current-player-wrapper .black::after,
.current-player-wrapper .dead::after {
	display: block;
	width: 16px;
	height: 16px;
	content: "";
	position: absolute;
	right: 6px;
	top: 8px;
	border-radius: 50%;
}
#current-player {
	border-bottom: 1px solid black;
	padding: 0 1.25em 0 0.25em;
}
#current-player.red::after {
	background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%);
}
#current-player.black::after {
	background: linear-gradient(to bottom, #333 0%,#000000 100%);
}
#current-player.dead::after {
	background: linear-gradient(to bottom, #669 0%,#333366 100%);
}

.other-player-wrapper {
	color: #bbb;
	margin: 0;
	font-weight: normal;
}
.game-over .other-player-wrapper {
	opacity: 0;
}
#other-player {
	border-bottom: 1px solid #bbb;
	padding: 0 1.25em 0 0.25em;
}

.controls {
	margin: 1.25em 0 0.25em 0;
}

.play-again {
	opacity: 0;
}
.game-over .play-again {
	opacity: 1;
	transition: 0.5s;
}

.play-again-btn {
	display: inline-block;
	border: none;
	margin-bottom: 2em;
	height: 40px;
	line-height: 40px;
	width: 16em;
	background: mediumseagreen;
	color: white;
	text-decoration: none;
}
.play-again-btn:hover,
.play-again-btn:focus {
	background: #359660;
}
.play-again-btn:hover {
	background: #359660;
}


/* Board */
.board {
	margin: 0 auto;
	border-collapse: collapse;
}
.board .board-label-x {
	padding-top: 1em;
	text-align: center;
}
.board .board-label-y {
	padding-right: 1em;
	text-align: center;
}
.board button {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 0;
	margin: 1px;
	background: #bbb;
}
.board button:hover {
	filter: brightness(75%);
}
.board button:disabled {
	filter: brightness(100%);
}
/* no focus rings by default... focus borders get added via js */
.board button:focus {
	outline: 0;
}
.board button::-moz-focus-inner {
	border: 0;
}
.board button.red {
	background: #ad0505;
	background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%);
}
.board button.black {
	background: #000;
	background: linear-gradient(to bottom, #333 0%,#000000 100%);
}
.board button.dead {
	background: #000;
	background: linear-gradient(to bottom, #669 0%,#333366 100%);
}
@media (max-width: 480px) {
	.board button {
		width: 30px;
		height: 30px;
	}
}
